#back-top {

    position: fixed;

    bottom: 100px;

    right: 60px;
    display: none;

}

#back-top a {

    width: 44px;

    display: block;

    text-align: center;

    font: 12px/100% Arial, Helvetica, sans-serif;

    text-transform: uppercase;

    text-decoration: none;

    color: #bbb;

    /* background color transition */

    -webkit-transition: 1s;

    -moz-transition: 1s;

    transition: 1s;

}

#back-top a:hover {

    color: #293aa0;

}

/* arrow icon (span tag) */

#back-top span {

    width: 44px;

    height: 44px;

    display: block;

    margin-bottom: 7px;

    background: #ddd url('/shop/templates/bc_paintify/img/icons/top.png') no-repeat center center;

    /* rounded corners */

    -webkit-border-radius: 5px;

    -moz-border-radius: 5;

    border-radius: 5;

    /* background color transition */

    -webkit-transition: 1s;

    -moz-transition: 1s;

    transition: 1s;

}

#back-top a:hover span {

    background-color: #293aa0;

}

#back {

    font-weight: bold;

    font-size: 22px;

    padding:10px;

    border: 2px solid #333;

    border-radius: 29px;

}